#credits-form {
    /* z-index: 999; */
    background-color: #121212a0;
    width: 100vw;
    height: 100vh; /* Set height to cover the entire viewport */
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    position: fixed;
    color: #9acaea;
    position: fixed;
    width: 50%;
    background-color: #03090dcc;
    padding: 1rem;
    display: flex;
    border-radius: 1rem;
    font-size: 18px;
    box-shadow: 0 1rem 3rem #03090dcc;

    input,
    button {
        padding: 1rem;
        background-color: transparent;
        border-radius: 0.5rem;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.5s ease-in-out;
        &:focus,
        &:hover {
            outline: none;
            box-shadow: 0 0 1rem #004e92;
        }
    }

    .form-col {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        text-align: justify;
        #form-input {
            padding: 1rem 0;
            justify-content: flex-start;
            display: flex;
            flex-direction: column;
            label {
                color: #f2f2f2;
                margin-inline: 0.5rem;
            }
            input {
                font-size: 24px;
                color: #9acaea;
                border: 2px solid #9acaea;
            }
        }

        .chipsets {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            #chips {
                margin-inline: 0.25rem;
                padding: 0.5rem;
                background-color: #9acaea;
                border-radius: 0.25rem;
                color: #000428;
                font-weight: 900;
                i {
                    color: #000428;
                }
            }
        }

        #checkout {
            padding: 1rem;
            background-color: #9acaea;
            border-radius: 1rem;
            text-align: center;
            h1,
            #row,
            span,
            button,
            i {
                color: #000428;
            }
            #row {
                /* padding-inline: 2rem; */
                display: flex;
                flex-direction: row;
                font-weight: 900;
                font-size: 18px;
                justify-content: space-between;
                span {
                    color: #000428;
                    font-weight: 500;
                }
            }
            hr {
                color: #000428;
                width: 85%;
            }
            button {
                margin: 1rem 0;
                width: 85%;
                border-color: #000428;
            }
            #last-row {
                display: flex;
                justify-content: center;
                a {
                    text-decoration: none;
                    color: #000428;
                }
            }
        }
        i {
            padding-inline-end: 0.5rem;
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
