.preview-section {
    height: 20%;
    padding: 1rem;
    display: flex;
    gap: 10%;
    justify-content: space-around;
    width: 100%;

    #sub-section {
        width: 30%;
        background-color: #ddedf8;
        flex-direction: column;
        padding: 1rem;
        text-align: center;
        border-radius: 1rem;
        font-weight: 900;
        align-content: center;

        p {
            margin: 0%;
            color: #000428;
            font-size: 20px;
        }

        span {
            color: #277eba;
            font-size: 56px;
        }
    }
}

#scrollable-contain {
    overflow: hidden;
    height: 50vw;
}

div.end {
    bottom: 0;
    padding-top: 0.5rem;
    text-align: center;
    border-top: 1px solid #277eba;
    font-weight: 600;
    i {
        padding-inline: 0.5rem;
    }
    &:hover {
        i {
            animation: arrowTranslate 2s infinite alternate;
        }
    }
}
.end:hover {
    text-shadow: 0 0 0.5rem #277eba;
}
