.grid-box {
    height: 65vh;
    /* border: 1px solid red; */
    box-shadow: 0 1rem 3rem #03090dcc;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    border-radius: 1rem;
    background-color: #03090dcc;
    #scrollable-contain {
        overflow: scroll;
        .contents {
            border-bottom: 1px solid #515151;
            padding-top: 1rem;
            button {
                justify-content: space-between;
            }
        }
    }
    .title {
        border-bottom: 1px solid #277eba;
        font-weight: 600;
    }

    .title,
    .contents {
        /* width: 100%; */
        display: grid;
        grid-template-columns: .5fr 3.5fr 1.5fr 2fr 1fr;
        text-align: start;
        gap: 1rem;
        white-space: nowrap;
        div {
            border: 1px solid #B93127;
        }
        div#app-receive {
            display: flex;
            justify-content: space-evenly;
            button {
                border: none;
                background: none;
                color: #27b992;
            }
            button:hover,
            button:focus {
                box-shadow: none;
            }
        }
    }

    .contents:hover {
        border-bottom: 1px solid #b93127;
    }
}

::-webkit-scrollbar {
    display: none;
}


/* Extra small devices (phones) */
@media only screen and (max-width: 575.98px) {
}

/* Small devices (tablets) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    /* Styles for screens between 576px and 767.98px */
}

/* Medium devices (laptops, desktops) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    /* Styles for screens between 768px and 991.98px */
}

/* Large devices (large desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (extra large desktops) */
@media only screen and (min-width: 1200px) {
    .contents{
        gap: 2.5%;
    }
}
