.grid-box {
    height: 65vh;
    box-shadow: 0 1rem 3rem #03090dcc;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 1rem;
    background-color: #03090dcc;
    #scrollable-contain {
        overflow: scroll;
        .contents {
            border-bottom: 1px solid #515151;
            padding-top: 1rem;
            &:hover {
                border-color: #b93127;
            }
            button {
                justify-content: space-around;
            }
        }
    }
    .title {
        border-bottom: 1px solid #277eba;
        font-weight: 600;
    }

    .title,
    .contents {
        display: grid;
        grid-template-columns: 1.5fr repeat(4, 3fr);
        align-items: center;
        text-align: center;
        #salary {
            display: grid;
            grid-template-columns: 2.5fr 0.5fr 3fr;
            align-content: center;
        }
        #education {
            text-align: center;
        }
        div#app-receive {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-between;
            button {
                border: none;
                background: none;
                color: #27b992;
                &:hover,
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
}

/* Extra small devices (phones) */
@media only screen and (max-width: 575.98px) {
}

/* Small devices (tablets) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    /* Styles for screens between 576px and 767.98px */
}

/* Medium devices (laptops, desktops) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    /* Styles for screens between 768px and 991.98px */
}

/* Large devices (large desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (extra large desktops) */
@media only screen and (min-width: 1200px) {

}
