@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
    user-select: none;
    &:not(nav) {
        transition: all 0.5s ease-in-out;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: #ddedf8;
    /* background: linear-gradient(#000428, #004e92); */
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

input {
    padding: 0.5rem 1rem;
    background-color: transparent;
    outline: none;
    color: #06121a;
    border-radius: 1rem;
    font-size: 16px;
}

i {
    padding: 1rem;
    color: #004e92;
}

nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    padding: 1rem;
    background-color: #06121a;
    color: #f2f2f2;
    #logo {
        display: flex;
        justify-content: flex-start;
        img {
            width: 75%;
        }
    }
}

.section,
.section-location {
    padding: 1rem 0;
    label {
        font-weight: 600;
        margin-inline: 1rem;
    }
}

.filter {
    display: flex;
    flex-direction: column;
    .chkbox-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        .chkbox {
            margin: 0.1rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            cursor: pointer;
            border: 1px solid #ddedf8;
            font-weight: 600;
        }
        input[type='checkbox'] {
            display: none;
        }
        input[type='checkbox']:checked + .chkbox {
            background-color: #ddedf8;
            color: #06121a;
        }
    }
    .section-location {
        display: flex;
        flex-direction: column;
    }
}

main {
    padding: 1rem;
    width: 75vw;
    height: 100vh;
    .section {
        display: flex;
        justify-content: flex-end;
        .sortGrp {
            box-sizing: border-box;
            margin-inline: 1rem;
            height: 1rem;
            border: 1px solid #06121a;
            display: flex;
            align-self: center;
            align-items: center;
            border-radius: 0.25rem;
            input[type='radio'],
            label {
                margin: 0;
                border-radius: 5rem;
                i {
                    /* border: 1px solid #06121a; */
                    color: #06121a;
                    padding: 0.5rem;
                }
            }
            input[type='radio'] {
                display: none;
                &:checked + label {
                    background-color: #06121a;
                    i {
                        color: #ddedf8;
                    }
                }
            }
        }
        input[type='search'] {
            width: calc(35% + 5rem);
            border: 0.1rem solid #004e92;
        }
    }
    #scrollable {
        height: 90vh;
        overflow-y: scroll;
    }
    .card-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 1rem;
        .card {
            display: flex;
            flex-direction: column;
            padding: 0.5rem 1rem;
            box-shadow: 0 0 1rem #06121a;
            border-radius: 0.5rem;
            color: #06121a;
            flex-wrap: wrap;
            &:hover {
                background-color: #004e92;
                color: #ddedf8;
                .contents {
                    span {
                        background-color: #ddedf8;
                        color: #004e92;
                    }
                }
            }
            .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0.5rem 0;
                .content {
                    display: flex;
                    flex-direction: column;
                    h3,
                    p {
                        margin: 0;
                    }
                    p {
                        font-size: 12px;
                        span {
                            /* white-space: nowrap; */
                            &.degree {
                                background-color: #06121a;
                                color: #ddedf8;
                                padding-inline: 0.5rem;
                                border-radius: 2rem;
                                .passYear {
                                    background-color: #ddedf8;
                                    font-weight: 600;
                                    color: #06121a;
                                    padding-inline: 0.5rem;
                                }
                            }
                        }
                    }
                }
                img {
                    margin-inline: 1rem 0;
                    height: 5rem;
                    width: 5rem;
                    object-fit: cover;
                    border: 0.1rem solid #004e92;
                    background-color: #ddedf8;
                    border-radius: 50%;
                }
            }
            .contents {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0.25rem;
                overflow: scroll;
                span {
                    font-size: 14px;
                    border-radius: 1rem;
                    padding: 0.125rem 0.875rem;
                    background-color: #004e92;
                    color: #ddedf8;
                }
            }

            .btn-section {
                display: flex;
                margin-top: auto;
                padding-top: 1rem;
                flex-direction: column;
                align-items: flex-end;
                button {
                    padding: 0.5rem 1rem;
                    font-weight: 600;
                    background-color: #06121a;
                    border: 0.1rem solid transparent;
                    border-radius: 1rem;
                    cursor: pointer;
                    color: #ddedf8;
                    &:hover {
                        background-color: transparent;
                        color: #ddedf8;
                        border-color: #ddedf8;
                    }
                }
                p {
                    margin: 0;
                    font-size: 12px;
                    padding-inline: 0.5rem;
                }
            }
        }
    }
}
