* {
    color: #ddedf8;
    ::-webkit-scrollbar {
        display: none;
    }
}

div.nav-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 20%;
    background: #03090dcc;
    box-shadow: 0.25rem 0 1rem #121212;
    nav {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        text-align: center;
        padding: 1rem;
        .main-logo {
            padding: 1rem;
            img {
                max-width: 100%;
            }
        }
        .nav-options {
            display: flex;
            flex-direction: column;
            margin: auto;
            svg {
                width: 15%;
                vertical-align: middle;
                padding: 0 0.5rem;
            }
        }

        #menu-item {
            display: flex;
            flex-direction: row;

            a {
                border-radius: 0.25rem;
                padding: 1rem 0.5rem;
                text-align: start;
                text-decoration: none;
                white-space: nowrap;
                width: 100%;
                &:hover {
                    background-color: #9acaea;
                }
                &.active {
                    background-color: #277eba;
                }
            }
        }

        #logout-button {
            background-color: transparent;
            border: 2px solid #277eba;
            border-radius: 0.25rem;
            color: #277eba;
            cursor: pointer;
            width: auto;
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            margin: auto;
            font-weight: 600;
            box-shadow: 0 0 2rem #03090dcc;
            outline: none;
            i {
                color: #277eba;
            }
            &:hover {
                box-shadow: 0 0 1rem #277eba;
            }
        }
    }
    button,
    i {
        /* display: none; */
        cursor: pointer;
        box-shadow: none;
        border: none;
    }
}

div.nav-container .hide label {
    display: none;
}

/* Extra small devices (phones) */
@media only screen and (max-width: 575.98px) {
}

/* Small devices (tablets) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    /* Styles for screens between 576px and 767.98px */
}

/* Medium devices (laptops, desktops) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    /* Styles for screens between 768px and 991.98px */
}

/* Large devices (large desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    /* Styles for screens between 992px and 1199.98px */
}

/* Extra large devices (extra large desktops) */
@media only screen and (min-width: 1200px) {
    /* Styles for screens 1200px and above */
}
