* {
    font-family: Poppins;
    color: #ddedf8;
    cursor: url('../img/customCursor32.png'), auto;
}

body {
    margin: 0;
    background: linear-gradient(#000428, #004e92);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    -moz-user-select: none;
    user-select: none;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#spacing {
    display: flex;
    flex-direction: column;
    z-index: 0;
    padding: 1.5rem;
    width: 20%;
}

button {
    background-color: transparent;
    border: 2px solid;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.img-section:hover,
.img-section:focus,
input:focus,
input:hover,
textarea:focus,
textarea:hover,
button:focus,
button:hover {
    outline: none;
    box-shadow: 0 0 1rem #277eba;
}

button:focus,
button:hover {
    box-shadow: 0 0 1rem #277eba;
}

.profileSection {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-inline: 5rem;
    width: 75%;
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 32px;
        font-weight: 600;
        width: 100%;
        height: 15%;
        span {
            color: #9acaea;
        }
        button {
            font-size: 16px;
            border-color: #277eba;
            padding: 0.5rem 1.5rem;
        }
    }

    form {
        overflow-x: hidden;
        border: 0.25rem double #277ebacc;
        display: flex;
        padding: 2rem 1rem;
        width: 100%;
        border-radius: 1rem;
        flex-direction: column;
        background-color: #03090dcc;
        box-shadow: 0 1rem 3rem #03090dcc;
        .img-section {
            background-color: #03090dcc;
            position: absolute;
            align-self: center;
            top: 5%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            border-radius: 50%;
            input[type='file'] {
                opacity: 0;
                z-index: 999;
                border-radius: 50%;
                padding: 1rem;
                height: 100px;
                width: 100px;
            }
            img {
                border: 0.25rem double #277eba;
                position: absolute;
                z-index: 0;
                padding: 1rem;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                shape-image-threshold: inherit;
                image-rendering: optimizeSpeed;
                object-fit: contain;
            }
            label {
                opacity: 0;
                position: absolute;
                height: 125px;
                width: 125px;
                text-align: center;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                line-height: 1.2;
            }
        }
        .section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            display: flex;
            .primary-section {
                flex-direction: column;
                width: 50%;
                padding-top: 1rem;
                .form-col {
                    display: flex;
                    flex-direction: column;
                    padding-inline: 1rem;
                    label {
                        font-size: 16px;
                        font-weight: 500;
                        padding: 0.5rem;
                    }
                    input:not([type='file']),
                    select {
                        background-color: transparent;
                        border: 2px solid #277eba;
                        border-radius: 0.5rem;
                        font-size: 18px;
                        padding: 1rem;
                        option {
                            background-color: #277eba;
                            border: none;
                        }
                        option:hover {
                            background-color: #9acaea;
                            color: #277eba;
                        }
                    }

                    /* post-a-job min nd max salary */
                    div#salary {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        gap: 1rem;
                        input {
                            width: 45%;
                        }
                    }
                }
            }
            .desc-section {
                display: flex;
                flex-direction: column;
                padding-inline: 1rem;
                width: 100%;
                label {
                    font-size: 16px;
                    font-weight: 500;
                    padding: 0.5rem;
                }
                textarea {
                    background-color: transparent;
                    border: 2px solid #277eba;
                    border-radius: 0.5rem;
                    font-size: 18px;
                    padding-inline: 1rem;
                    resize: none;
                }
            }
            button {
                padding: 1rem;
                margin: 1rem;
                width: 25%;
                i {
                    margin-inline: 0.5rem;
                    transition: all 4s ease-in-out;
                    animation: extend 2s infinite alternate;
                }
            }
            button:first-child {
                border-color: #ac2d24;
            }
            button:first-child:hover,
            button:first-child:focus {
                box-shadow: 0 0 1rem #ac2d24;
            }
            button:last-child {
                border-color: #25ad2e;
            }
            button:last-child:hover,
            button:last-child:focus {
                box-shadow: 0 0 1rem #2eea7c;
            }
        }

        #btnSection {
            display: none;
            padding: 0;
        }
    }
}

#input-opt {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

@keyframes extend {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}
